<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>BFH EventMng REST</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.0.1/angular-resource-1.0.1.min.js"></script>
    <script type="text/javascript" src="http://angular-ui.github.com/angular-ui/build/angular-ui.js"></script>
    
    <script type="text/javascript" src="js/application.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>

    <link rel="stylesheet" type="text/css"
          href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css"
          href="http://angular-ui.github.com/angular-ui/build/angular-ui.css">
</head>

<body ng-app="eventmng">

<h2>Current Event</h2>

<div ng-controller="eventController">

    <form id="form">
        <label for="name">Name</label>
        <input id="name" ng-model="currentEvent.name"/>
        <br/>
        <label for="dateFrom">Date from</label>
        <input id="dateFrom" ng-model="currentEvent.dateFrom" date="dd.mm.yyyy" ui-date/>
        <br/>
        <label for="dateTo">Date to</label>
        <input id="dateTo" ng-model="currentEvent.dateTo"/>
        <br/>
        <label for="responsiblePerson">Responsible person</label>
        <input id="responsiblePerson" ng-model="currentEvent.responsiblePerson"/>
        <br/>
        <label for="entryPrice">Entry price</label>
        <input id="entryPrice" ng-model="currentEvent.entryPrice"/>
        <br/>
        <label for="id">Id</label>
        <input id="id" disabled="disabled" ng-model="currentEvent.id"/>
        <br/>
        <button id="save" ng-click="save()">Save Book</button>
        <button id="cancel" ng-click="cancel()">Cancel</button>
    </form>

    <h2>Books</h2>

    <form id="list">
        <input id="showId" type="checkbox"/>
        <label for="showId">Show Id</label>
        <table id="table" border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>Date From</th>
                <th>Date To</th>
                <th>Responsible Person</th>
                <th>Entry Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="event in events">
                <td>{{event.id}}</td>
                <td>{{event.name}}</td>
                <td>{{event.dateFrom | date:'dd.MM.yyyy'}}</td>
                <td>{{event.dateTo | date:'dd.MM.yyyy'}}</td>
                <td>{{event.responsiblePerson}}</td>
                <td>{{event.entryPrice}}</td>
                
                <td><button id="edit" ng-click="edit(event)">Edit</button></td>
                <td><button id="delete" ng-click="remove($index,event.id)">Delete</button></td>
            </tr>
            </tbody>
        </table>
    </form>

</div>
</body>
</html>