 <div class="container" ng-controller="EventController">
	

   <!-- Main hero unit for a primary marketing message or call to action -->
   <div class="hero-unit">
     <h1 class="hero-unit-title">Event Management</h1>
     <p class="hero-unit-title">This is a website where you manage simple your events. It includes all events, acts and locations.</p>
     <!-- <p><a class="btn" href="credits.html">Watch credits &raquo;</a></p>-->
   </div>

   <!-- Example row of columns -->
   <div class="row">
     <div class="span4">
       <h2>Some events</h2>
       <p ng-repeat="event in [events[events.length-1],events[events.length-2],events[events.length-3]]">
       		<a href="#/events/">{{event.name}}</a>&nbsp;
       </p>
       <div id="dynacloud" style="line-height: 20em"></div>
       <p><a class="btn btn-primary btn-large" href="#/events/">View all &raquo;</a></p>
     </div>
     <div class="span4">
       <h2>Some acts</h2>
       <p ng-repeat="act in [acts[acts.length-1],acts[acts.length-2],acts[acts.length-3]]">
       		<a href="#/acts/">{{act.name}}</a>&nbsp;
       </p>
 		<p><a class="btn btn-primary btn-large" href="#/acts/">View all &raquo;</a></p>
    </div>
     <div class="span4">
       <h2>Some locations</h2>
       <p ng-repeat="location in [locations[locations.length-1],locations[locations.length-2],locations[locations.length-3]]">
       		<a href="#/locations/">{{location.name}}</a>&nbsp;
       </p>
 <p><a class="btn btn-primary btn-large" href="#/locations/">View all&raquo;</a></p>
     </div>
   </div>

   <hr>

   <footer>
     <p>&copy; Mezcal-Event-Management</p>
   </footer>

 </div> <!-- /container -->