    <div class="container" ng-controller="LocationController">
    	<h1>Locations</h1>
						
		<div class="row-fluid">
      		<div class="span8">
      			<table class="table table-condensed">
			    	<thead>
	      				<tr>
      						<th>Name</th>
      						<th>Address</th>
      						<th>Zip</th>
      						<th>City</th>
      						<th>Contact</th>
      						<th>Capacity</th>
     		 				<th>Edit</th>
     			 			<th>Delete</th>      			      			      			      			      				
    			  		</tr>
   				   	</thead>
	   			   	<tbody>
   			   			<tr ng-repeat="location in locations">
    		  				<td>{{location.name}}</td>
     			 			<td>{{location.address}}</td>
    	 		 			<td>{{location.zip}}</td>
    	 		 			<td>{{location.city}}</td>
     			 			<td>{{location.contact}}</td>
    	 		 			<td>{{location.capacity}}</td>
	     		 			<td><a class="btn" id="edit" ng-click="edit(location)">edit</a></td>
     		 				<td><a class="btn" id="delete" ng-click="removeWithConfirm($index,location.id)">delete</a></td>	
    		  			</tr>
     		 		</tbody>
    			</table>
      		</div>
		</div>
		<form ng-submit="save()">
			<div class="row-fluid">
				<div class="span3">
  					<fieldset>
						<legend></legend>
						<label>Name</label>
						<input type="text" placeholder="Name" ng-model="currentLocation.name" required>
						<label>Address</label>
						<input type="text" placeholder="Strasse" ng-model="currentLocation.address" required>	
						<label>Zip</label>
						<input type="number" min="1000" max="9999" placeholder="3000" ng-model="currentLocation.zip" required>					
					</fieldset>
				</div>
				<div class="span3">
  					<fieldset>
						<legend></legend>
						<label>City</label>
						<input type="text" placeholder="Bern" ng-model="currentLocation.city" required>
						<label>Contact</label>
						<input type="text" placeholder="Name" ng-model="currentLocation.contact">	
						<label>Capacity</label>
						<input type="number" placeholder="1000" ng-model="currentLocation.capacity">						
					</fieldset>
				</div>
				<div class="span6"></div>
			</div>
			<div class="row-fluid">
      			<div class="span12">
      				<div class="form-actions">
						<button type="button" class="btn" ng-click="cancel()">Cancel</button>
						<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
      			</div>
			</div>
		</form>
		{{debugMsg}}
		<div data-ng-include data-src="'utils/modalDeleteConfirm.html'"></div>
    </div>