    <div class="container" ng-controller="EventController">
    	<h1>Events</h1>
						
		<div class="row-fluid">
      		<div class="span8">
      			<table class="table table-condensed">
			    	<thead>
	      				<tr>
      						<th>Name</th>
      						<th>From</th>
      						<th>To</th>
      						<th>Responsible</th>
     		 				<th>Entry Price</th>
     		 				<th>Edit</th>
     			 			<th>Delete</th>      			      			      			      			      				
    			  		</tr>
   				   	</thead>
	   			   	<tbody>
   			   			<tr ng-repeat="event in events">
    		  				<td>{{event.name}}</td>
    		  				<td>{{event.dateFrom | date:'dd.MM.yyyy'}}</td>
    			  			<td>{{event.dateTo | date:'dd.MM.yyyy'}}</td>
     			 			<td>{{event.responsiblePerson}}</td>
    	 		 			<td>{{event.entryPrice}}.-</td>
	     		 			<td><a class="btn" id="edit" ng-click="edit(event)">edit</a></td>
     		 				<td><a class="btn" id="delete" ng-click="remove($index,event.id)">delete</a></td>	
    		  			</tr>
     		 		</tbody>
    			</table>
      		</div>
		</div>
		<form>
			<div class="row-fluid">
				<div class="span12">
  					<fieldset>
						<legend></legend>
						<label>Name</label>
						<input type="text" placeholder="Name" ng-model="currentEvent.name">				
						<label>Date from</label>
						<div class="" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
							<input type="text" class="span2" id="dp1" ng-model="currentEvent.dateFrom" ui-date="{ dateFormat: 'dd.mm.yy' }" date="dd.MM.yyyy" ><!-- Beliebiges Datum wird mit value="12-02-2012" angegeben -->
						</div>	
						<label>Date to</label>
						<div class="" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
							<input type="text" class="span2" id="dp2" ng-model="currentEvent.dateTo" ui-date="{ dateFormat: 'dd.mm.yy' }" date="dd.MM.yyyy"><!-- Beliebiges Datum wird mit value="12-02-2012" angegeben -->
						</div>
						<label>Responsible</label>
						<input type="text" placeholder="Name" ng-model="currentEvent.responsiblePerson">
						<label>Entry Price</label>
						<input type="text" placeholder="20" ng-model="currentEvent.entryPrice">
					</fieldset>
				</div>
				<div class="span2"></div>
			</div>
			<div class="row-fluid">
      			<div class="span4">
      				Acts
      				<table class="table table-bordered">
			    		<thead>
	      					<tr>
      							<th>Name</th>
    	  						<th>Genre</th>
	      						<th>Salary</th>
     				 			<th>Delete</th>      			      			      			      			      				
    				  		</tr>
   					   	</thead>
		   			   	<tbody>
	   			   			<tr ng-repeat="act in acts">
    		  					<td>{{act.name}}</td>
    		  					<td>{{act.genre}}</td>
    			  				<td>{{act.salary}}</td>
    	 		 				<td><input type="checkbox" ng-change="selectAct(act)" ng-model="currentEventActs[act.id]"></td>
	    		  			</tr>
     		 			</tbody>
    				</table>
      			</div>
      			<div class="span4">
      				Locations
      				<table class="table table-bordered">
			    		<thead>
	      					<tr>
      							<th>Name</th>
    	  						<th>City</th>
     				 			<th>Delete</th>      			      			      			      			      				
    				  		</tr>
   					   	</thead>
		   			   	<tbody>
	   			   			<tr ng-repeat="loc in locations">
    		  					<td>{{loc.name}}</td>
    		  					<td>{{loc.city}}</td>
    	 		 				<td><input type="checkbox" ng-change="selectLocation(loc)" ng-model="currentEventLocations[loc.id]"></td>	
	    		  			</tr>
     		 			</tbody>
    				</table>
      			</div>
      			<div class="span4">
      				<div class="form-actions">
						<button type="button" class="btn" ng-click="cancel()">Cancel</button>
						<button type="submit" class="btn btn-primary" ng-click="save()">Save changes</button>
					</div>
      			</div>
			</div>
		</form>
    </div>