<!-- modal box for delete confirm-->
<div ui-modal class="fade" ng-model="$parent.modalConfirmShown" id="confirmDeleteModal">
	<div>
		<div class="modal-header">
			<h1>Delete</h1>
		</div>
		<div class="modal-body">
			Do you really want to delete?
		</div>
		<div class="modal-footer">
			<a class="btn btn-danger" style="" id="close" ng-click="$parent.remove();$parent.modalConfirmShown=false">Yes</a>
			<a class="btn btn-primary" style="" id="close" ng-click="$parent.modalConfirmShown=false">No</a>
		</div>
	</div>
</div>
<!-- modal box if have Dependencies-->
<div ui-modal class="fade" ng-model="$parent.modalHasDependencies" id="hasDependenciesModal">
	<div>
		<div class="modal-header">
			<h1>Not possible</h1>
		</div>
		<div class="modal-body">
			There are events which use this entry yet. Please remove these events first... 
		</div>
		<div class="modal-footer">
			<a class="btn btn-primary" style="" id="close" ng-click="$parent.modalHasDependencies=false">OK</a>
		</div>
	</div>
</div>